body {
  background-color: #f1f1f1;
  font-family: raleway, sans-serif;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
}

.navbar .navbar-logo{
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 0.04em;
  line-height: normal;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 18px;
}

.navbar a {
  font-size: 18px;
}

.card h3 {
  font-size: 20px;
  margin: 10px 0px;
}

.card h4 {
  font-size: 15px;
  margin: 10px 0px;
}

.desc {
  font-size: 12px;
}

.text {
  font-size: 9px;
}

@media (max-width: 900px) {
  h2 {
    font-size: 32px;
  }
}
