.footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	padding: 10px 0px 40px 0px;
	text-align: center;
	font-family: sans-serif;
	margin-top: 20px;
	background-color: #FFFFFF;
	/*padding-right: 100px;*/
}

.footer ul {
  list-style-type: none;
  margin: 0;
  height: auto;
  padding-inline-start: 0px;
}

.footer a {
  font-size: 12px;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.footer .active a:hover {
  color: #21a1eb;
}

.footer li {
  float: right;
  display: inline;
  text-align: center;
  background-color: #ffffff;
  margin: 0px 10px;
}
/*

@media only screen and (max-width: 600px) {
  .footer {
    padding: auto;
  }
  .footer li {
    width: 
  }  
}
*/

@media (max-width: 900px) {
  .content {flex-direction: column-reverse; text-align: center;}
  .home-container {flex-direction: column-reverse;}
  .text-container {flex-basis: unset; text-align: center;}
  .image-container {flex-basis: unset;margin: auto;}
}