.navbar {
  background-color: #FFFFFF;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  height: auto;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.navbar ul {
  background-color: #ffffff;
  list-style-type: none;
  margin: 0;
  height: auto;
  padding-inline-start: 0px;
  padding-bottom: 20px;
}

.navbar a {
  background-color: #ffffff;
  text-align: center;
  height: 100%;
  margin: 20px 16px;
  text-decoration: none;
  padding-bottom: 15px;
}

.navbar a:hover {
  border-style: solid;
  border-width: 0px 0px 5px 0px;
}

/*.active {
  border-style: solid;
  border-width: 0px 0px 5px 0px;
}*/

.navbar li {
  display: inline;
  background-color: #ffffff;
}

.navbar .navbar-logo{
  padding: 20px 0px;
}

@media screen and (max-width: 440px) {
  .navbar a {
    float: none;
    width: 100%;
    margin: 0px;
    display: block;
  }
  .navbar a:hover {
    border-style: none;
    border-width: 0px;
  }
  .navbar ul {
    padding-bottom: 0px;
  }
}