.navbar {
  background-color: #FFFFFF;
  width: 100%;
  padding: 20px 0px 25px;
  text-align: center;
  height: auto;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  height: auto;
  padding-inline-start: 0px;
  text-align: right;
}

.navbar a {
  text-align: center;
  font-size: 12px;
  height: 100%;
  margin: 20px 16px;
  text-decoration: none;
  color: inherit;
}

.navbar a:hover {
  color: #0050FF;
}

.navbar .active {
  color: #0050FF;
}

.navbar .blue-square {
  background-color: #0050FF;
  padding: 10px;
  margin-left: 10px;
}

.navbar .square-highlight{
  background-color: #0050FF;
  width: 20px;
  height: 20px;
  margin-left: 50px;
}

.navbar .name {
  font-size: 20px;
  margin: 0px;
  margin-left: 10px;
  padding: 0px;
  font-weight: bold;
}
.navbar .name:hover {
  color: #000000;
}
.navbar .title {
  font-size: 14px;
  margin:0px;
}
.navbar .title:hover {
  color: #000000;
}

.navbar li {
  display: inline-block;
  background-color: #ffffff;
}

@media (max-width: 450px) {
  .navbar li {display: block;}
  .navbar ul {text-align: center;}
}

/*@media only screen and (max-width: 450px) {
  .navbar a {
    font-size: 8px;
  }  
}*/

/*@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
}*/