/*
.card - background, set width, set height
.card img - set widht, height, position
.card h3 - font size, color
.card h3 - font size
*/

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  /*background-color: #f9f9f9;*/
  padding: 10px;
  margin: 10px;
  text-align: left;
  flex-basis: 350px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card a {
  /*text-align: right;*/
  /*vertical-align: bottom;*/
  /*display: table-row-group;*/
  text-decoration: none;
}

.card img {
  min-width: 100%;
  overflow: hidden;
  max-height: 150px;
}

.card:hover {
  background-color: #f9f9f9;
}

@media only screen and (max-width: 800px) {
  .card {
    width: 85%;
  }
}
