/* Layout */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}
.content {
  margin: 0% 5% 0% 5%;
  font-size: 17px;
  text-align: left;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.project-container {
  display: flex;
  flex-basis: 700px;
  flex-grow: 0;
  justify-content: center;
}

img{
  align-self: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.navbar ul {
  /*height: 60px;*/
}

.header {
  text-align: center;
  padding: 32px;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  /*padding: 0 100px;*/
}
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  /*float: left;*/
}
.column50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 0px;
  /*float: left;*/
}
.column75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
  max-width: 75%;
  padding: 0 4px;
  /*float: left;*/
}
.item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
  /*border: 1px solid black;*/
}

.tile {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;

  max-height: 300px;
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
}

/*Image Cropping*/
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.tile img {
  vertical-align: middle;
  margin: 0px;
  width: 100%;
}

@media (max-width: 900px) {
  .content {flex-direction: column-reverse;}
  .image-container {flex-basis: unset;}
}
@media (max-width: 480px) {
  iframe {
    width: 100%;
    height: unset;
  }
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
